<div class="container">
  <div class="title">
    <p>Test technique WEB-ATRIO réalisé par Hamilka jérôme</p>
    <p>réalisé le 19/02/2022</p>
  </div>
  <app-count [titleBar]="'Initialisation du test technique'" [countLocal]="50"></app-count>
  <app-count [titleBar]="'Avancement de la phase de développement'" [countLocal]="25"></app-count>
  <div class="btn-compteur">
    <button (click)="reset()">Remettre à zéro les compteurs</button>
    <button (click)="add5()">Ajouter 5%</button>
    <button (click)="add10()">Ajouter 10%</button>
  </div>
</div>

